body{
	
	background:linear-gradient(rgba(242, 242, 242, 0.90), rgba(242, 242, 242, 0.90)),
	 rgba(242, 242, 242,0.90) url(../images/bg.jpg);
	 background-size: 100% 100%;
	 background-attachment:fixed;
	 margin:0px;
  padding:0px;


}


*{
	box-sizing: border-box;
}
.nav{
	direction:rtl;
	background-color:#005580;
	z-index:1;

}

.nav>ul{
	padding: 0;
	margin: 0;
}

.nav ul>li{
	display:block;
}

.nav ul>li>a{
	display:block;
	text-decoration: none;
	padding:15px 20px ;
	color:white;
	font-size:22px;
}
.nav>ul>li>ul{
	position:absolute;
	display: none;

}

.nav ul>li>ul>li {
	font-size:15px;
	display: block;
	background-color:gray;
	border-bottom:1px solid white;
}
.nav ul>li>ul>li:hover{
	background-color:black;
}
.nav>ul>li:hover > ul{
	display: block;

}




.row{
	width: 100%;
}

[class *= "col-"]{
	width: 100%;
	padding: 15px;
	float: left;
}
.heder{
	padding: 20px;
	background:linear-gradient(#0083b3,#005e80,#00394d,#002533,#00131a);
	overflow: auto;
}
.heder h1{
	color:white;
	float:left;
	
	cursor:pointer;
	transition:2s linear color;
}
.heder h1:hover{
	color:gray;
}


.heder img{
	width:100px;
	float:right;
	animation: heder 2s linear infinite;
	

}
@keyframes heder{
	0%{
		transform:rotateY(360deg);
	}
}
/* finsh heder*/
/*binner*/
.slider{
		clear:both;
		background-image:url(images/01.jpg);
		height:300px;
		background-size:100% 100%;
		margin:auto;
		animation:malin 10s linear infinite;
		border:1px solid blue;
	}
	@keyframes malin{
		0%{
			background-image:url(../images/01.jpg);

		}
		25%{
			background-image:url(../images/02.PNG);
		}
		50%{
			background-image:url(../images/03.PNG);
		}
		70%{
			background-image:url(../images/01.jpg);
		}
		100%{
			background-image:url(../images/02.PNG);
		}
	}

.section1{
	text-align:justify;
	width:85%;
	margin:auto;
	direction:rtl;
	line-height:1.4em;
	font-size:18px;
	margin-bottom:50px;
}
.childsection h3{
	color:#0077b3;
}
.childsection  p{
	color:#1f1f60;
}
.section2{
	width:99%;
	margin:auto;
	overflow:auto;
	

}
.section2 img{
	width:100%;
	border:4px solid gray;
	border-radius:20px;

}

.childesection2 p{
	text-align:center;
	

}
/* finshed section2*/
/* start barnamaha*/

.image img{
	border-radius:15px;
	border:4px solid gray;
	cursor:pointer;

}
.image img:hover{
	box-shadow:3px 3px 5px black;
}
#h1>h1{
	text-align:center;
	font-size:35px;
	color:#0077b3; 
}
#h1{
	direction:rtl;
	width:80%;
	margin:auto;
}
.text{

	text-align:center;
}
.text a{
	text-decoration:none;
	color:#0077b3;

}
.text a:hover{
	color:gray;
	text-decoration:underline;
}
video{
	height:450px;
	object-fill:fill;
}

.head {
	background-image: url("../images/Walper Goal.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
}

.both {
	margin-top: 19px;

}

.sport {
	width: 65%;
	float: left;
}

.list {
	width: 30%;
	float: left;
	text-align: center;
}

.list img {
	width: 250px;
	height: 135px;
}

.side {
	float: right;
	width: 35%;
}

.side img {
	width: 200px;
	margin-bottom: 19px;
}

/*fotear*/
.fullfotear{
	direction:rtl;
	overflow:auto;

}
.fotear h2{
	color:white;
	font-style:inherit;

}
.fotear p{
	font-size:16px;
	font-weight:bold;
}
.fotear li{
	display:inline-block;
	font-size:40px;
	cursor:pointer;
	padding:10px;
	color:#005580;
}

.three div{
	float: left;
	width: 33.333%;
}

.three>div>img {
	border-radius: 50%;
	padding: 5px;
	border: 1px solid white;
}

.three1 #first{
	float: left;
	margin-left: 26%;
}

.three1 #second{
	float: left;
	margin-left: 9%;
}

.three1>div>img {
	border-radius: 50%;
	padding: 3px;
	border: 1px solid white;
}


@media only screen and (min-width: 768px) {
			.col-1 {width: 8.33%;}
		    .col-2 {width: 16.66%;}
		    .col-3 {width: 25%;}
		    .col-4 {width: 33.33%;}
		    .col-5 {width: 41.66%;}
		    .col-6 {width: 50%;}
		    .col-7 {width: 58.33%;}
		    .col-8 {width: 66.66%;}
		    .col-9 {width: 75%;}
		    .col-10 {width: 83.33%;}
		    .col-11 {width: 91.66%;}
		    .col-12 {width: 100%;}

.heder h1{
	margin-left:40px;
}
.heder img{
	margin-right:40px;
}
.nav {
	width: 100%;
}
.nav ul li{
	display:inline-block;
}
#banner {
  
  height: 32rem !important;
  min-height: 32rem;
  clear:both;
  z-index:-1;
  }
  #banner h1 {
    font-size:3rem;
    margin-bottom: 1.5rem; }

    .section2 img{
	width:650px;
	border:4px solid gray;
	border-radius:20px;

}
.childesection2 p{
	margin-top:150px;
	line-height:1.8em;
	color:#1f1f60;
	font-size:18px; 

}
.childesection2{
	margin-bottom:100px;

}
	}